 {% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
 <h1>{{ title1 }}</h1>


  {% for user in users %}
  <h1> {{user.email}} </h1>
  
  {% endfor %}





{% endblock %} 